<div class="layout layout--col layout--center">
  <span class="label label--small">{{ display_label | default: "Status" }}</span>
  <div class="value value--large">{{ headline | default: "Ready" }}</div>
</div>

