<div class="layout layout--row layout--center gap--medium">
  <div class="w--2/3">
    <div class="richtext">
      <p>{{ quote.text | default: "Add a quote." | truncate: 110 }}</p>
    </div>
  </div>
  <div class="w--1/3">
    <span class="label">{{ display_label | default: "Quote" }}</span>
    <div class="description">{{ quote.author | default: "Unknown" }}</div>
  </div>
</div>

